<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </sectionGroup>
    </sectionGroup>
    <section name="container" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor, Version=3.3.0.0, Culture=neutral, PublicKeyToken=407dd0808d44fbdc" />
    <sectionGroup name="citrix.deliveryservices">
      <section name="localisation" type="Citrix.DeliveryServices.Localisation.LocalisationConfigSection, Citrix.DeliveryServices.Localisation, Version=3.33.0.0, Culture=neutral, PublicKeyToken=e8b77d454fa2a856" />
      <section name="logger" type="Citrix.DeliveryServices.Logging.LoggerConfigurationSection, Citrix.DeliveryServices.Logging, Version=3.33.0.0, Culture=neutral, PublicKeyToken=e8b77d454fa2a856" />
      <section name="windowsEventLogger" type="Citrix.DeliveryServices.Logging.WindowsEventLoggerConfigSection, Citrix.DeliveryServices.Logging, Version=3.33.0.0, Culture=neutral, PublicKeyToken=e8b77d454fa2a856" />
      <section name="certificateManager" type="Citrix.DeliveryServices.Security.Certificates.Configuration.CertificateManagerSection, Citrix.DeliveryServices.Security, Version=3.33.0.0, Culture=neutral, PublicKeyToken=e8b77d454fa2a856" />
      <section name="tokenManager" type="Citrix.DeliveryServices.Security.Tokens.Configuration.TokenManagerSection, Citrix.DeliveryServices.Security, Version=3.33.0.0, Culture=neutral, PublicKeyToken=e8b77d454fa2a856" />
      <section name="cryptography" type="Citrix.DeliveryServices.Security.Cryptography.Configuration.CryptoSection, Citrix.DeliveryServices.Security, Version=3.33.0.0, Culture=neutral, PublicKeyToken=e8b77d454fa2a856" />
      <section name="routing" type="Citrix.DeliveryServices.Web.Route.Configuration.RoutingSection, Citrix.DeliveryServices.Web.Route.Configuration, Version=3.33.0.0, Culture=neutral, PublicKeyToken=e8b77d454fa2a856" />
      <section name="defaultRoutes" type="Citrix.DeliveryServices.Web.Route.Configuration.RouteSection, Citrix.DeliveryServices.Web.Route.Configuration, Version=3.33.0.0, Culture=neutral, PublicKeyToken=e8b77d454fa2a856" />
      <section name="credentialWallet" type="Citrix.DeliveryServices.CredentialWallet.Configuration.CredentialWalletConfigSection, Citrix.DeliveryServices.CredentialWallet.Configuration, Version=3.33.0.0, Culture=neutral, PublicKeyToken=e8b77d454fa2a856" />
      <section name="credentialWalletClient" type="Citrix.DeliveryServices.CredentialWallet.ClientProxy.Configuration.CredentialWalletClientSection, Citrix.DeliveryServices.CredentialWallet.ClientProxy.Configuration, Version=3.33.0.0, Culture=neutral, PublicKeyToken=e8b77d454fa2a856" />
      <section name="roamingRecords" type="Citrix.DeliveryServices.RoamingRecords.Configuration.RoamingRecordsSection, Citrix.DeliveryServices.RoamingRecords.Configuration, Version=3.33.0.0, Culture=neutral, PublicKeyToken=e8b77d454fa2a856" />
      <section name="casConfiguration" type="Citrix.DeliveryServices.RoamingRecords.Configuration.CasConfigurationSection, Citrix.DeliveryServices.RoamingRecords.Configuration, Version=3.33.0.0, Culture=neutral, PublicKeyToken=e8b77d454fa2a856" />
    </sectionGroup>
  </configSections>
  <connectionStrings />
  <!-- Castle Windsor container configuration -->
  <container>
    <components>
      <component id="webApplicationStartupModule" type="Citrix.DeliveryServices.WebApplication.WebApplicationModule, Citrix.DeliveryServices.WebApplication" service="Citrix.DeliveryServices.Mvc.IStartupModule, Citrix.DeliveryServices.Mvc" />
      <component id="roamingStartupModule" type="Citrix.DeliveryServices.AccountsService.AccountsServiceModule, Citrix.DeliveryServices.AccountsService" service="Citrix.DeliveryServices.Mvc.IStartupModule, Citrix.DeliveryServices.Mvc" />
      <component id="accountRedirectionStartupModule" type="Citrix.DeliveryServices.AccountRedirection.AccountRedirectionModule, Citrix.DeliveryServices.AccountRedirection" service="Citrix.DeliveryServices.Mvc.IStartupModule, Citrix.DeliveryServices.Mvc" />
    </components>
  </container>
  <citrix.deliveryservices>
    <routing hostBaseUrl="https://10.193.32.209/" serviceName="">
      <externalEndpoints>
        <clear />
      </externalEndpoints>
    </routing>
    <defaultRoutes>
      <routeTable order="0">
        <ignoreroutes>
          <clear />
          <route name="ignore" url="{resource}.axd/{*pathInfo}" />
        </ignoreroutes>
        <routes>
          <clear />
          <route name="endpoints" order="1" url="endpoints/v1">
            <defaults>
              <add param="controller" value="Endpoints" />
              <add param="action" value="Endpoints" />
            </defaults>
            <data>
              <add name="endpointId" value="Endpoints" />
              <add name="endpointCapabilities" value="endpoints" />
            </data>
          </route>
        </routes>
      </routeTable>
    </defaultRoutes>
    <localisation>
      <resourceSets>
        <clear />
      </resourceSets>
    </localisation>
    <logger duplicateInterval="00:01:00" duplicateLimit="10">
      <logConsumers>
        <clear />
        <add name="eventLogWriter" factory="Citrix.DeliveryServices.Logging.WindowsEventLoggerFactory, Citrix.DeliveryServices.Logging, Version=3.33.0.0, Culture=neutral, PublicKeyToken=e8b77d454fa2a856" path="citrix.deliveryservices/windowsEventLogger" />
      </logConsumers>
    </logger>
    <windowsEventLogger sourceName="Citrix Roaming Services" />
    <!-- Token services and security settings. -->
    <cryptography>
      <signatures>
        <clear />
        <add name="rsa-sha1" class="Citrix.DeliveryServices.Security.Cryptography.Signature.XmlSignature10, Citrix.DeliveryServices.Security, Version=3.33.0.0, Culture=neutral, PublicKeyToken=e8b77d454fa2a856" />
        <add name="rsa-sha1-2" class="Citrix.DeliveryServices.Security.Cryptography.Signature.XmlSignature10, Citrix.DeliveryServices.Security, Version=3.33.0.0, Culture=neutral, PublicKeyToken=e8b77d454fa2a856" oid="1.3.14.3.2.29" />
        <!-- The following entries currently require a modification to machine.config -->
        <add name="rsa-sha256" class="Citrix.DeliveryServices.Security.Cryptography.Signature.XmlSignature11, Citrix.DeliveryServices.Security, Version=3.33.0.0, Culture=neutral, PublicKeyToken=e8b77d454fa2a856" oid="1.2.840.113549.1.1.11" algorithm="http://www.w3.org/2001/04/xmldsig-more#rsa-sha256" digestMethod="http://www.w3.org/2001/04/xmlenc#sha256" />
        <add name="rsa-sha384" class="Citrix.DeliveryServices.Security.Cryptography.Signature.XmlSignature11, Citrix.DeliveryServices.Security, Version=3.33.0.0, Culture=neutral, PublicKeyToken=e8b77d454fa2a856" oid="1.2.840.113549.1.1.12" algorithm="http://www.w3.org/2001/04/xmldsig-more#rsa-sha384" digestMethod="http://www.w3.org/2001/04/xmldsig-more#sha384" />
        <add name="rsa-sha512" class="Citrix.DeliveryServices.Security.Cryptography.Signature.XmlSignature11, Citrix.DeliveryServices.Security, Version=3.33.0.0, Culture=neutral, PublicKeyToken=e8b77d454fa2a856" oid="1.2.840.113549.1.1.13" algorithm="http://www.w3.org/2001/04/xmldsig-more#rsa-sha512" digestMethod="http://www.w3.org/2001/04/xmlenc#sha512" />
      </signatures>
      <hmac>
        <clear />
      </hmac>
    </cryptography>
    <certificateManager>
      <certificates>
        <clear />
        <add id="54534faa-7baa-41d1-a053-23738ab95243" thumb="FBC4684B0612E31D02A0081F00B8D84CF07573C8" />
      </certificates>
    </certificateManager>
    <tokenManager>
      <services>
        <clear />
        <service id="9a452a6b-c9fd-4003-9ce6-4cf9d648860b" displayName="Roaming Consumer">
          <relyingParties signingId="_" defaultLifetime="01:00:00" maxLifetime="01:00:00" />
          <trustedIssuers decipherId="54534faa-7baa-41d1-a053-23738ab95243" />
          <allowedAudiences>
            <add name="https-10.193.32.209" audience="https://10.193.32.209/" />
          </allowedAudiences>
        </service>
      </services>
    </tokenManager>
    <credentialWallet wallet="defaultCredentialWallet" />
    <credentialWalletClient>
      <clientEndpoint uri="net.pipe://localhost/Citrix/CredentialWalletService" authenticationMode="windows" clientOpenTimeout="00:01:00" clientCloseTimeout="00:00:10" clientSendTimeout="00:01:00" />
    </credentialWalletClient>
    <roamingRecords>
      <routeTable order="1">
        <routes>
          <route name="listaccounts" order="1" url="accounts">
            <defaults>
              <add param="controller" value="Accounts" />
              <add param="action" value="Accounts" />
            </defaults>
            <data>
              <add name="endpointId" value="ListAccounts" />
              <add name="endpointCapabilities" value="AccountsV1" />
              <add name="CommonData" factory="Citrix.DeliveryServices.Configuration.ObjectCollectionFactory, Citrix.DeliveryServices.Configuration, Version=3.33.0.0, Culture=neutral, PublicKeyToken=e8b77d454fa2a856"
                path="citrix.deliveryservices/roamingRecords" property="commonData" />
            </data>
          </route>
        </routes>
      </routeTable>
      <commonData>
        <add name="ServiceRootHint" value="/accounts" />
        <add name="TokenServiceId" value="9a452a6b-c9fd-4003-9ce6-4cf9d648860b" />
      </commonData>
      <gateways>
        <clear />
      </gateways>
      <beacons>
        <internal>
          <clear />
          <beacon id="a06b61ff-db64-4cba-8b61-52c89296daa0">
            <location path="https://10.193.32.209/" />
          </beacon>
        </internal>
        <external>
          <clear />
        </external>
      </beacons>
      <serviceRecords>
        <clear />
        <serviceRecord serviceRef="1__Citrix_FIS" srName="FIS" srDescription=""
          srID="3710858168" srType="Store" srAddress="https://10.193.32.209/Citrix/FIS/discovery">
          <gateways>
            <clear />
          </gateways>
          <optimalGateways>
            <clear />
          </optimalGateways>
          <beacons>
            <internal>
              <clear />
            </internal>
            <external>
              <clear />
            </external>
          </beacons>
        </serviceRecord>
      </serviceRecords>
      <accounts>
        <clear />
        <account id="6cb604ca-c6fd-487f-9ccd-b59619c1268e" name="FIS"
          description="" published="true" updaterType="Citrix" remoteAccessType="None">
          <annotatedServices>
            <clear />
            <annotatedServiceRecord serviceRef="1__Citrix_FIS">
              <metadata>
                <plugins>
                  <clear />
                </plugins>
                <trustSettings>
                  <clear />
                </trustSettings>
                <properties>
                  <clear />
                  <property name="LockedDown" value="True" />
                </properties>
              </metadata>
            </annotatedServiceRecord>
          </annotatedServices>
          <metadata>
            <plugins>
              <clear />
            </plugins>
            <trustSettings>
              <clear />
            </trustSettings>
            <properties>
              <clear />
            </properties>
          </metadata>
        </account>
      </accounts>
      <accountRedirection redirectUrl="">
        <ftuRedirects>
          <clear />
        </ftuRedirects>
        <userAgentsRedirect redirectUrl="">
          <userAgents>
            <clear />
          </userAgents>
        </userAgentsRedirect>
      </accountRedirection>
    </roamingRecords>
    <casConfiguration customerId="" enablementService="" cwsServiceKey="" enablementServiceStatus="" instanceId="" name="" />
  </citrix.deliveryservices>
  <appSettings />
  <system.web>
    <!-- minFreeThreads = 88 * N and minLocalRequestFreeThreads = 76 * N where N is the number of logical CPUs -->
    <httpRuntime targetFramework="4.8" executionTimeout="300" appRequestQueueLimit="100" maxRequestLength="4096" enableVersionHeader="false" requestValidationMode="2.0" minFreeThreads="176" minLocalRequestFreeThreads="152" />
    <!-- FIPS 140-1 -->
    <machineKey validationKey="AutoGenerate,IsolateApps" decryptionKey="AutoGenerate,IsolateApps" validation="HMACSHA256" decryption="AES" />
    <compilation debug="false" targetFramework="4.8" />
    <customErrors mode="RemoteOnly" />
    <!-- Tracing enabled for locahost only, writing to the .Net diagnostic tracer. -->
    <trace enabled="false" localOnly="true" pageOutput="false" requestLimit="10" mostRecent="true" writeToDiagnosticsTrace="true" traceMode="SortByTime" />
    <sessionState mode="Off" />
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="NoCache" location="None" varyByParam="none" noStore="true" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules />
    <httpProtocol>
      <!-- Remove HTTP headers that are known to divulge information about the web server -->
      <customHeaders>
        <remove name="MicrosoftOfficeWebServer" />
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <applicationInitialization>
      <add initializationPage="/endpoints/v1" />
    </applicationInitialization>
  </system.webServer>
  <system.diagnostics>
    <sources>
      <source name="Citrix.DeliveryServices.CitrixAuth">
        <listeners>
          <add name="citrixTraceListener" />
        </listeners>
      </source>
      <source name="Citrix.DeliveryServices.Localisation">
        <listeners>
          <add name="citrixTraceListener" />
        </listeners>
      </source>
      <source name="Citrix.DeliveryServices.Saml11">
        <listeners>
          <add name="citrixTraceListener" />
        </listeners>
      </source>
      <source name="Citrix.DeliveryServices.Tokens.Jwt">
        <listeners>
          <add name="citrixTraceListener" />
        </listeners>
      </source>
      <source name="Citrix.DeliveryServices.Security">
        <listeners>
          <add name="citrixTraceListener" />
        </listeners>
      </source>
      <source name="Citrix.DeliveryServices.ClaimSpecializations">
        <listeners>
          <add name="citrixTraceListener" />
        </listeners>
      </source>
      <source name="Citrix.DeliveryServices.SecurityMessageAttributes">
        <listeners>
          <add name="citrixTraceListener" />
        </listeners>
      </source>
      <source name="Citrix.DeliveryServices.WebApplication">
        <listeners>
          <add name="citrixTraceListener" />
        </listeners>
      </source>
      <source name="Citrix.DeliveryServices.MVC">
        <listeners>
          <add name="citrixTraceListener" />
        </listeners>
      </source>
      <source name="Citrix.DeliveryServices.Endpoints">
        <listeners>
          <add name="citrixTraceListener" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="Citrix.DeliveryServices.CitrixAuth" value="Information" />
      <add name="Citrix.DeliveryServices.Localisation" value="Information" />
      <add name="Citrix.DeliveryServices.Saml11" value="Information" />
      <add name="Citrix.DeliveryServices.Tokens.Jwt" value="Information" />
      <add name="Citrix.DeliveryServices.Security" value="Information" />
      <add name="Citrix.DeliveryServices.ClaimSpecializations" value="Information" />
      <add name="Citrix.DeliveryServices.SecurityMessageAttributes" value="Information" />
      <add name="Citrix.DeliveryServices.WebApplication" value="Information" />
      <add name="Citrix.DeliveryServices.MVC" value="Information" />
      <add name="Citrix.DeliveryServices.Endpoints" value="Information" />
    </switches>
    <sharedListeners>
      <add name="citrixTraceListener" type="Citrix.DeliveryServices.Diagnostics.CircularTraceListener,Citrix.DeliveryServices.Diagnostics, Version=3.33.0.0, Culture=neutral, PublicKeyToken=e8b77d454fa2a856" initializeData="C:\Program Files\Citrix\Receiver StoreFront\Admin\trace\Roaming.svclog" maxFileSizeKB="200000" fileCount="5" />
    </sharedListeners>
    <trace autoflush="false" />
  </system.diagnostics>
  <runtime>
    <gcServer enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.MVC" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>