<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="container" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor, Version=3.3.0.0, Culture=neutral, PublicKeyToken=407dd0808d44fbdc" />
    <sectionGroup name="citrix.deliveryservices">
      <section name="webReceiver" type="Citrix.Web.DeliveryServicesProxy.Config.WebReceiverConfigSection, Citrix.Web.DeliveryServicesProxy.Config, Version=3.33.0.0, Culture=neutral, PublicKeyToken=10b345e6a3954981" />
      <section name="logger" type="Citrix.DeliveryServices.Logging.LoggerConfigurationSection, Citrix.DeliveryServices.Logging, Version=3.33.0.0, Culture=neutral, PublicKeyToken=e8b77d454fa2a856" />
      <section name="windowsEventLogger" type="Citrix.DeliveryServices.Logging.WindowsEventLoggerConfigSection, Citrix.DeliveryServices.Logging, Version=3.33.0.0, Culture=neutral, PublicKeyToken=e8b77d454fa2a856" />
      <section name="certificateManager" type="Citrix.DeliveryServices.Security.Certificates.Configuration.CertificateManagerSection, Citrix.DeliveryServices.Security, Version=3.33.0.0, Culture=neutral, PublicKeyToken=e8b77d454fa2a856" />
      <section name="tokenManager" type="Citrix.DeliveryServices.Security.Tokens.Configuration.TokenManagerSection, Citrix.DeliveryServices.Security, Version=3.33.0.0, Culture=neutral, PublicKeyToken=e8b77d454fa2a856" />
      <section name="cryptography" type="Citrix.DeliveryServices.Security.Cryptography.Configuration.CryptoSection, Citrix.DeliveryServices.Security, Version=3.33.0.0, Culture=neutral, PublicKeyToken=e8b77d454fa2a856" />
      <section name="delegatedKerberosAuthentication" type="Citrix.DeliveryServices.Authentication.Kerberos.Delegated.Configuration.DelegatedKerberosAuthenticationClientConfigSection, Citrix.DeliveryServices.Authentication.Kerberos, Version=3.33.0.0, Culture=neutral, PublicKeyToken=e8b77d454fa2a856" />
    </sectionGroup>
  </configSections>
  <citrix.deliveryservices>
    <webReceiver>
      <serverSettings>
        <authentication tokenLifeTime="10:00:00" locationURL="Authentication/GetAuthMethods">
          <authMethods>
            <clear />
            <add method="ExplicitForms" />
          </authMethods>
        </authentication>
        <communication attempts="1" timeout="00:05:00" loopback="OnUsingHttp"
          loopbackPortUsingHttp="80">
          <proxy enabled="false" processName="Fiddler" port="8888" />
        </communication>
        <discoveryService url="https://10.193.32.209/Citrix/FIS/discovery"
          runDiscoveryAtAppStart="true" />
        <resourcesService persistentIconCacheEnabled="true" icaFileCacheExpiry="90"
          iconSize="128" showDesktopViewer="false" />
        <appShortcuts promptForUntrustedShortcuts="true">
          <trustedUrls>
            <clear />
          </trustedUrls>
          <gatewayUrls>
            <clear />
          </gatewayUrls>
        </appShortcuts>
        <bundles>
          <clear />
        </bundles>
        <strictTransportSecurity enabled="false" policyDuration="90.00:00:00" />
        <csrfProtection excludedUserAgents="CitrixReceiver;CitrixWebAPI-NoCSRFToken" />
        <userInterfaceExperience experience="ReceiverForWeb" />
        <gacs enabled="false" serviceId="" tokenDuration="00:05:00" />
        <returnStoreServerName enabled="true" />
        <userNotifications enabled="false">
          <clear />
        </userNotifications>
        <blockingNotification enabled="false" frequency="FirstLogin">
          <default title="" body="" button="" />
        </blockingNotification>
        <ticketingServiceCorsPolicy allowedRedeemDomain="https://ctx-ws-assets.cloud.com" />
      </serverSettings>
      <clientSettings>
        <authManager getUsernameURL="Authentication/GetUserName" getUserDetailsURL="Authentication/GetUserDetails"
          logoffURL="Authentication/Logoff" changeCredentialsURL="ExplicitAuth/GetChangeCredentialForm"
          loginFormTimeout="60" webviewReturnURL="ExplicitAuth/Bounce"
          webviewResumeURL="ExplicitAuth/ResumeForms" allowSelfServiceAccountManagementURL="ExplicitAuth/AllowSelfServiceAccountManagement" />
        <storeProxy keepAliveURL="Home/KeepAlive">
          <resourcesProxy listURL="Resources/List" resourceDetails="default" />
          <sessionsProxy listAvailableURL="Sessions/ListAvailable" disconnectURL="Sessions/Disconnect"
            logoffURL="Sessions/Logoff" />
          <sessionControlProxy listSessionsURL="Sessions/List" logoffSessionsURL="Sessions/LogOffSessions"
            disconnectSessionsURL="Sessions/DisconnectSessions" />
          <machinesProxy powerOffMachineURL="Machines/PowerOff" shutDownMachineURL="Machines/ShutDown"
            suspendMachineURL="Machines/Suspend" listMachinesURL="Machines/List" />
          <clientAssistantProxy getDetectionTicketURL="ClientAssistant/GetDetectionTicket"
            getDetectionStatusURL="ClientAssistant/GetDetectionStatus" />
          <gacs gacsUrl="" gacsEndpointsUrl="" createTokenPath="Gacs/CreateToken" />
          <notifications blockingNotificationURL="Notifications/Blocking" />
          <serviceTicketsProxy getTicketsUrl="Tickets/ServiceTickets" />
        </storeProxy>
        <pluginAssistant enabled="false" upgradeAtLogin="false" showAfterLogin="false"
          allowSkipNativeAppDetection="true" requireNativeAppUse="false">
          <win32 path="https://downloadplugins.citrix.com/Windows/CitrixWorkspaceApp.exe" />
          <macOS path="https://downloadplugins.citrix.com/Mac/CitrixWorkspaceApp.dmg"
            minimumSupportedOSVersion="10.6" />
          <html5 enabled="Off" platforms="Firefox;Chrome;Version/([6-9]|\d\d).*Safari;MSIE \d\d;Trident/([6-9]|\d\d);Android;iPad;iPhone;iPod;"
            launchURL="clients/HTML5Client/src/SessionWindow.html" preferences=""
            singleTabLaunch="false" chromeAppOrigins="chrome-extension://haiffjcadagjlijoggckpgfnoeiflnem|chrome-extension://lbfgjakkeeccemhonnolnmglmfmccaag|chrome-extension://anjihnbmjbbpofafpmklejenkgnjfcdi"
            chromeAppPreferences="" />
          <protocolHandler enabled="true" platforms="(Macintosh|Windows NT|Linux|Android|iPhone).*((Firefox/((5[2-9]|[6789][0-9]|1[2-9]|[2-9])|\d\d\d))|(Chrome/((4[2-9]|[56789][0-9]|1[2-9]|[2-9]|[2-9]|[2-9])|\d\d\d))|(CriOS/)|(FxiOS/))|(Mobile/)|Macintosh.*Version/(1[2-9]|[2-9][0-9]).*Safari/"
            skipDoubleHopCheckWhenDisabled="false" />
          <browserExtension enabled="true" timeout="6000" retries="2" />
        </pluginAssistant>
        <userInterface autoLaunchDesktop="false" multiClickTimeout="3"
          enableAppsFolderView="true" categoryViewCollapsed="true" moveAppToUncategorized="false"
          showActivityManager="true" showFirstTimeUse="true" preventIcaDownloads="false">
          <workspaceControl enabled="false" autoReconnectAtLogon="false"
            logoffAction="none" showReconnectButton="false" showDisconnectButton="false" />
          <receiverConfiguration enabled="false" downloadURL="ServiceRecord/GetDocument/receiverconfig.cr" />
          <uiViews showDesktopsView="true" showAppsView="true" defaultView="auto"
            showHomeTab="true" alwaysShowTabs="false" appsViewTab="all"
            defaultCategoryName="" />
          <appShortcuts enabled="false" allowSessionReconnect="false" />
          <progressiveWebApp enabled="false" showInstallPrompt="false" />
          <branding backgroundColor="" textColor="" linkColor="" headerLogo=""
            logonLogo="" />
        </userInterface>
        <appProtection enabled="" />
        <plugins>
          <clear />
        </plugins>
        <pinnedLinks enabled="false">
          <clear />
        </pinnedLinks>
        <userNotifications url="Home/AdminNotificationService" />
        <ticketService>
          <supportedTickets>
            <clear />
            <ticket type="LogServer" />
          </supportedTickets>
        </ticketService>
      </clientSettings>
    </webReceiver>
    <logger duplicateLimit="10" duplicateInterval="00:01:00">
      <logConsumers>
        <clear />
        <add name="eventLogWriter" factory="Citrix.DeliveryServices.Logging.WindowsEventLoggerFactory, Citrix.DeliveryServices.Logging, Version=3.33.0.0, Culture=neutral, PublicKeyToken=e8b77d454fa2a856" path="citrix.deliveryservices/windowsEventLogger" />
      </logConsumers>
    </logger>
    <windowsEventLogger sourceName="Citrix Receiver for Web" />
    <cryptography>
      <signatures>
        <clear />
        <add name="rsa-sha1" class="Citrix.DeliveryServices.Security.Cryptography.Signature.XmlSignature10, Citrix.DeliveryServices.Security, Version=3.33.0.0, Culture=neutral, PublicKeyToken=e8b77d454fa2a856" />
        <add name="rsa-sha1-2" class="Citrix.DeliveryServices.Security.Cryptography.Signature.XmlSignature10, Citrix.DeliveryServices.Security, Version=3.33.0.0, Culture=neutral, PublicKeyToken=e8b77d454fa2a856"
          oid="1.3.14.3.2.29" />
        <add name="rsa-sha256" class="Citrix.DeliveryServices.Security.Cryptography.Signature.XmlSignature11, Citrix.DeliveryServices.Security, Version=3.33.0.0, Culture=neutral, PublicKeyToken=e8b77d454fa2a856"
          oid="1.2.840.113549.1.1.11" algorithm="http://www.w3.org/2001/04/xmldsig-more#rsa-sha256"
          digestMethod="http://www.w3.org/2001/04/xmlenc#sha256" />
        <add name="rsa-sha384" class="Citrix.DeliveryServices.Security.Cryptography.Signature.XmlSignature11, Citrix.DeliveryServices.Security, Version=3.33.0.0, Culture=neutral, PublicKeyToken=e8b77d454fa2a856"
          oid="1.2.840.113549.1.1.12" algorithm="http://www.w3.org/2001/04/xmldsig-more#rsa-sha384"
          digestMethod="http://www.w3.org/2001/04/xmldsig-more#sha384" />
        <add name="rsa-sha512" class="Citrix.DeliveryServices.Security.Cryptography.Signature.XmlSignature11, Citrix.DeliveryServices.Security, Version=3.33.0.0, Culture=neutral, PublicKeyToken=e8b77d454fa2a856"
          oid="1.2.840.113549.1.1.13" algorithm="http://www.w3.org/2001/04/xmldsig-more#rsa-sha512"
          digestMethod="http://www.w3.org/2001/04/xmlenc#sha512" />
      </signatures>
      <hmac>
        <clear />
        <add name="appShortcuts" key="ToDB3DZ1fxRQuebLNR8dkdzW273IAT986A8YsHgkFmChDvVbNVCHBKn3sOdva+qevmxPQGlDuZ3XD6XRKrzWoQ==" />
        <add name="rfWebGeneric" key="/cpMmSg+ytdtdfOCG7nYNyj65WbkjTSltLRXVTagToHd/wU1s9bohkNM/kDVlHn5eUdMHeG9qvutKrsCBCLu2Q==" />
      </hmac>
    </cryptography>
    <delegatedKerberosAuthentication>
      <clientEndpoint uri="net.pipe://localhost/Citrix/Authentication/Kerberos" authenticationMode="windows" clientOpenTimeout="00:01:00" clientCloseTimeout="00:00:10" clientSendTimeout="00:01:00" />
    </delegatedKerberosAuthentication>
    <certificateManager>
      <certificates>
        <clear />
        <add id="8996236c-17d5-416a-9fba-a2f8d91e11ae" thumb="581F3D8F2CDD64174A03F43E018E9FB27C52B81A" />
        <add id="6ead4faf-77d9-465e-8e7a-5061b58eade0" thumb="1230C3B9FB690C900333CB94BC24992145986E3E" />
      </certificates>
    </certificateManager>
    <tokenManager>
      <services>
        <clear />
        <service id="20edeb55-6d3e-430c-9914-9859c1f4c030" displayName="Receiver for Web Token Producer">
          <relyingParties signingId="8996236c-17d5-416a-9fba-a2f8d91e11ae"
            defaultLifetime="01:00:00" maxLifetime="01:00:00">
            <clear />
            <add id="7ddeadb6-aeb0-43eb-a1d6-63bb70ed7389" encipherId="6ead4faf-77d9-465e-8e7a-5061b58eade0"
              defaultLifetime="01:00:00" maxLifetime="20:00:00" />
          </relyingParties>
          <trustedIssuers decipherId="_">
            <clear />
          </trustedIssuers>
        </service>
        <service id="cf07671f-361c-401a-b6ab-83c7ef97736b" displayName="Receiver for Web Token Consumer">
          <relyingParties signingId="_" defaultLifetime="01:00:00" maxLifetime="01:00:00">
            <clear />
          </relyingParties>
          <trustedIssuers decipherId="8996236c-17d5-416a-9fba-a2f8d91e11ae">
            <clear />
            <add id="7ddeadb6-aeb0-43eb-a1d6-63bb70ed7389" location="https://10.193.32.209/Citrix/FISAuth/auth/v1/token"
              verifyId="6ead4faf-77d9-465e-8e7a-5061b58eade0" />
          </trustedIssuers>
          <allowedAudiences>
            <add name="https-10.193.32.209" audience="https://10.193.32.209/" />
          </allowedAudiences>
        </service>
      </services>
    </tokenManager>
  </citrix.deliveryservices>
  <!-- This is the Castle Windsor IOC container configuration for setting up Delivery Service components such as the logging and localisation. -->
  <!-- Castle Windsor container configuration -->
  <container>
    <facilities>
      <facility id="factory.support" type="Castle.Facilities.FactorySupport.FactorySupportFacility, Castle.Facilities.FactorySupport, Version=3.3.0.0, Culture=neutral, PublicKeyToken=407dd0808d44fbdc" />
    </facilities>
    <components>
      <component id="loggerConfigurationParser" type="Citrix.DeliveryServices.Logging.LoggerConfigurationParser, Citrix.DeliveryServices.Logging, Version=3.33.0.0, Culture=neutral, PublicKeyToken=e8b77d454fa2a856" />
      <component id="logger" type="Citrix.DeliveryServices.Logging.LoggerImpl, Citrix.DeliveryServices.Logging, Version=3.33.0.0, Culture=neutral, PublicKeyToken=e8b77d454fa2a856" service="Citrix.DeliveryServices.Logging.Interfaces.ILogger, Citrix.DeliveryServices.Logging.Interfaces, Version=3.33.0.0, Culture=neutral, PublicKeyToken=e8b77d454fa2a856" factoryId="loggerConfigurationParser" factoryCreate="CreateLogger" />
    </components>
  </container>
  <appSettings />
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- minFreeThreads = 88 * N and minLocalRequestFreeThreads = 76 * N where N is the number of logical CPUs -->
    <httpRuntime targetFramework="4.8" executionTimeout="300" appRequestQueueLimit="100" maxRequestLength="4096" enableVersionHeader="false" requestValidationMode="2.0" minFreeThreads="176" minLocalRequestFreeThreads="152" />
    <!-- FIPS 140-1 -->
    <machineKey validationKey="AutoGenerate,IsolateApps" decryptionKey="AutoGenerate,IsolateApps" validation="HMACSHA256" decryption="AES" />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
    -->
    <compilation targetFramework="4.8">
      <assemblies>
        <add assembly="System.Web.Mvc, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <customErrors mode="RemoteOnly" redirectMode="ResponseRewrite">
      <error statusCode="400" redirect="errors/400.aspx" />
      <error statusCode="404" redirect="errors/404.aspx" />
      <error statusCode="500" redirect="errors/500.aspx" />
    </customErrors>
    <!-- Tracing disabled by default to improve performance. -->
    <trace enabled="false" localOnly="true" pageOutput="false" requestLimit="1000" mostRecent="true" writeToDiagnosticsTrace="true" traceMode="SortByTime" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Linq" />
        <add namespace="System.Collections.Generic" />
      </namespaces>
    </pages>
    <sessionState timeout="600" />
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="NoCache" location="None" varyByParam="none" noStore="true" />
          <add name="IconCache" duration="31536000" location="Client" varyByParam="id" />
          <add name="LaunchInfoCache" duration="0" location="Client" varyByParam="*" />
          <add name="ServiceRecordCache" duration="30" location="Client" varyByParam="*" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="receiver.html" />
      </files>
    </defaultDocument>
    <handlers>
      <remove name="CGI-exe" />
      <remove name="UrlRoutingHandler" />
      <add name="RfWebClassic" path="Default.htm" verb="*" type="Citrix.Web.HttpHandlers.RfWebPageHandler"
        resourceType="Unspecified" preCondition="integratedMode" />
      <add name="RfWebX1" path="receiver.html" verb="*" type="Citrix.Web.HttpHandlers.RfWebPageHandler"
        resourceType="Unspecified" preCondition="integratedMode" />
      <add name="RfWebX1Manifest" path="receiver.appcache" verb="*"
        type="Citrix.Web.HttpHandlers.RfWebManifestHandler" resourceType="Unspecified"
        preCondition="integratedMode" />
      <add name="RfWebWsp" path="workspace.html" verb="*" type="Citrix.Web.HttpHandlers.RfWebPageHandler"
        resourceType="Unspecified" preCondition="integratedMode" />
      <add name="RfWebWspManifest" path="workspace.appcache" verb="*"
        type="Citrix.Web.HttpHandlers.RfWebManifestHandler" resourceType="Unspecified"
        preCondition="integratedMode" />
      <add name="IcaFileHandler" path="*.ica" verb="GET,POST" type="System.Web.Handlers.TransferRequestHandler"
        preCondition="integratedMode,runtimeVersionv4.0" responseBufferLimit="0" />
      <add name="CrFileHandler" path="*.cr" verb="GET,POST" type="System.Web.Handlers.TransferRequestHandler"
        preCondition="integratedMode,runtimeVersionv4.0" responseBufferLimit="0" />
    </handlers>
    <staticContent>
      <!-- Use "Cache-Control: max-age=0" for static content so the browser performs a conditional GET before serving static files from
           the cache. This ensures the browser will refetch CSS/JavaScript files modified by internal builds and public hotfixes. -->
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00:00:00"
        cacheControlCustom="private" />
      <remove fileExtension=".dmg" />
      <mimeMap fileExtension=".dmg" mimeType="application/x-apple-diskimage" />
      <remove fileExtension=".html" />
      <mimeMap fileExtension=".html" mimeType="text/html; charset=utf-8" />
      <remove fileExtension=".htm" />
      <mimeMap fileExtension=".htm" mimeType="text/html; charset=utf-8" />
      <remove fileExtension=".js" />
      <mimeMap fileExtension=".js" mimeType="text/javascript; charset=utf-8" />
      <remove fileExtension=".appcache" />
      <mimeMap fileExtension=".appcache" mimeType="text/cache-manifest" />
      <!-- Note, CSS files are omitted here because IE9 (in Standards mode) sets the Accept header
            for CSS files to "text/css" (other browsers specify "text/css,*/*"). If a charset for CSS is
            specified, then IE9's precise request cannot be met and this results in IIS returning an
            HTTP 406 (Not Acceptable) response. -->
    </staticContent>
    <urlCompression doDynamicCompression="true" doStaticCompression="true"
      dynamicCompressionBeforeCache="true" />
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Citrix-Application" value="Receiver for Web" />
      </customHeaders>
    </httpProtocol>
    <modules>
      <add name="ReturnStoreServerNameHeaderModule" type="DeliveryServicesProxy.HttpModules.ReturnStoreServerNameHeaderModule" />
      <add name="OptionsCorsForRedeemTicketsModule" type="DeliveryServicesProxy.HttpModules.OptionsCorsForRedeemTicketsModule" />
    </modules>
    <applicationInitialization>
      <add initializationPage="/Home/Index" />
    </applicationInitialization>
  </system.webServer>
  <system.diagnostics>
    <sharedListeners>
      <add name="citrixTraceListener" type="Citrix.DeliveryServices.Diagnostics.CircularTraceListener,Citrix.DeliveryServices.Diagnostics, Version=3.33.0.0, Culture=neutral, PublicKeyToken=e8b77d454fa2a856"
        initializeData="C:\Program Files\Citrix\Receiver StoreFront\Admin\trace\FISWeb.svclog"
        maxFileSizeKB="200000" fileCount="5" />
    </sharedListeners>
    <sources>
      <!--
      <source name="System.Net" tracemode="protocolonly" maxdatasize="4096">
        <listeners>
          <add name="citrixTraceListener" />
        </listeners>
      </source>
-->
      <source name="Citrix.Web.Receiver.Application">
        <listeners>
          <add name="citrixTraceListener" />
        </listeners>
      </source>
      <source name="Citrix.Web.Receiver.Configuration">
        <listeners>
          <add name="citrixTraceListener" />
        </listeners>
      </source>
      <source name="Citrix.Web.Receiver.Session">
        <listeners>
          <add name="citrixTraceListener" />
        </listeners>
      </source>
      <source name="Citrix.Web.DeliveryServicesProxy.Home">
        <listeners>
          <add name="citrixTraceListener" />
        </listeners>
      </source>
      <source name="Citrix.Web.DeliveryServicesProxy.Authentication">
        <listeners>
          <add name="citrixTraceListener" />
        </listeners>
      </source>
      <source name="Citrix.Web.DeliveryServicesProxy.Resources">
        <listeners>
          <add name="citrixTraceListener" />
        </listeners>
      </source>
      <source name="Citrix.Web.DeliveryServicesProxy.Sessions">
        <listeners>
          <add name="citrixTraceListener" />
        </listeners>
      </source>
      <source name="Citrix.Web.DeliveryServicesProxy.ServiceRecord">
        <listeners>
          <add name="citrixTraceListener" />
        </listeners>
      </source>
      <source name="Citrix.Web.DeliveryServicesProxy.Store">
        <listeners>
          <add name="citrixTraceListener" />
        </listeners>
      </source>
      <source name="Citrix.Web.DeliveryServicesProxy.Filters">
        <listeners>
          <add name="citrixTraceListener" />
        </listeners>
      </source>
    </sources>
    <switches>
      <!--      <add name="System.Net" value="Off" /> -->
      <add name="Citrix.Web.Receiver.Application" value="Information" />
      <add name="Citrix.Web.Receiver.Configuration" value="Information" />
      <add name="Citrix.Web.Receiver.Session" value="Information" />
      <add name="Citrix.Web.DeliveryServicesProxy.Home" value="Information" />
      <add name="Citrix.Web.DeliveryServicesProxy.Authentication" value="Information" />
      <add name="Citrix.Web.DeliveryServicesProxy.Store" value="Information" />
      <add name="Citrix.Web.DeliveryServicesProxy.Resources" value="Information" />
      <add name="Citrix.Web.DeliveryServicesProxy.ServiceRecord" value="Information" />
      <add name="Citrix.Web.DeliveryServicesProxy.Sessions" value="Information" />
      <add name="Citrix.Web.DeliveryServicesProxy.Filters" value="Information" />
    </switches>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <gcServer enabled="true" />
  </runtime>
  <!-- Allow the browser to cache images for 1 year. Images are renamed when updated to avoid stale images being served
       from the browser cache after an upgrade or between internal builds -->
  <location path="media">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
      </staticContent>
    </system.webServer>
  </location>
  <location path="uiareas/Authentication/media">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
      </staticContent>
    </system.webServer>
  </location>
  <location path="uiareas/Store/media">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
      </staticContent>
    </system.webServer>
  </location>
  <location path="uiareas/PluginAssistant/media">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
      </staticContent>
    </system.webServer>
  </location>
  <location path="receiver">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlCustom="public" cacheControlMaxAge="365.00:00:00" />
      </staticContent>
    </system.webServer>
  </location>
  <location path="Default.htm">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="X-Frame-Options" value="deny" />
          <add name="Content-Security-Policy" value="frame-ancestors 'none'" />
          <add name="X-XSS-Protection" value="1; mode=block" />
          <add name="X-Content-Type-Options" value="nosniff" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
  <location path="clients/HTML5Client/src/SessionWindow.html">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="X-Frame-Options" value="deny" />
          <add name="Content-Security-Policy" value="frame-ancestors 'none'" />
          <add name="X-XSS-Protection" value="1; mode=block" />
          <add name="X-Content-Type-Options" value="nosniff" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
  <location path="receiver.html">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="X-Frame-Options" value="deny" />
          <add name="Content-Security-Policy" value="frame-ancestors 'none'" />
          <add name="X-XSS-Protection" value="1; mode=block" />
          <add name="X-Content-Type-Options" value="nosniff" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
</configuration>